.container {
  padding: 40px;
  background-color: #fafafa;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: url("/assets/shoes.jpg") no-repeat bottom;
  background-size: cover;
  color: white;
  border-radius: 12px;
  margin-bottom: 50px;
}

.section {
  margin: 60px 0;
}

.image {
  width: 100%;
  border-radius: 12px;
}

.card {
  text-align: center;
  border-radius: 12px;
}

.cta {
  text-align: center;
  margin: 80px 0;
  padding: 40px;
  background: #111;
  color: white;
  border-radius: 12px;
}
