/* ======= HERO SECTION ======= */
.heroSection {
  /* padding: 40px; */
  position: relative;
  /* background-color: #fafafa; */
  padding: 100px 20px;
  background: url("/assets/bg/bg-cat2.jpg") no-repeat bottom / cover;
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  color: white;
  text-align: center;
}

/* ======= STORY SECTION ======= */
.storySection {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.storyContainer {
  max-width: 80%;
}

.storyContent {
  display: flex;
  gap: 3rem;
  width: 100%;
  align-items: center;
}

.imageFlexRow {
  display: flex;

  width: 65%;
  height: 400px;
}

.storyImgBox {
  overflow: hidden;
}

.imgContainerLeft {
  width: 40%;
  padding-bottom: 50px;
}

.imgContainerRight {
  width: 60%;
  padding-top: 50px;
}

.imgBoxLeft {
  border-radius: 12px 12px 0;

  overflow: hidden;
  height: 100%;
}
.imgBoxRight {
  border-radius: 0 12px 12px;
  overflow: hidden;
  height: 100%;
}

.imgContainerLeft img,
.imgContainerRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textBox {
  width: 35%;
  color: black;

  padding: 20px;
  border-radius: 8px;
}

.titleStory {
  display: flex;
  align-items: center;
  gap: 5px;
  /* margin-bottom: 20px; */
  /* background-color: red; */
}

.titleLine {
  height: 3px;
  width: 3rem;
  background: linear-gradient(90deg, #f97316, #ef4444); /* orange ke merah */
  border-radius: 2px;
}

.smallTitle {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ff7a00;
  margin-bottom: 8px;
  font-weight: 600;
}

.bigTitle {
  margin-bottom: 16px;
  font-weight: 700;
}

.storyValueText {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  display: block; /* biar kayak paragraf */
  margin-top: 8px;
}

/* ======= ACHIEVEMENTS SECTION ======= */
.achievementSection {
  position: relative;
  padding: 30px 20px;
  background: url("/assets/bg/bg-cat2.jpg") no-repeat center / cover;
  text-align: center;
  color: white;
}

.achievementContent {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 24px;
  justify-content: center;
}

.achievementCard {
  min-width: 200px;
  text-align: center;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 32px;
  color: #fff;
}

.cardTitle {
  color: white;
  font-size: 14px;
}

.cardDivider {
  width: 50px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
}

.cardValue {
  color: white;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3px;
}

/* ======= WHY CHOOSE SECTION ======= */
.whyChooseSection {
  padding: 80px 20px;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
}

.whyChooseContainer {
  max-width: 80%;
}

.whyChooseCardContainer {
  display: grid;

  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 24px;
  padding: 20px 0;
}

.whyChooseCardBox {
  max-width: 350px;
  padding: 24px 18px;
  max-width: 350px;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.whyChooseCardBox:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.whyChooseCardIcon {
  font-size: 40px;
  color: #f97316;
}

.whyChooseCardTitle {
  margin: 8px 0;
}

.whyChooseCardValue {
  color: #666;
  font-size: 14px;
}

/* ======= GALLERY SECTION ======= */
.gallerySection {
  position: relative;
  padding: 100px 20px 50px;
  background: url("/assets/bg/bg-cat2.jpg") no-repeat center / cover fixed;
  /* background-attachment: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.galleryContainer {
  position: relative;
  width: 80%;
  z-index: 2;
  color: white;
}

.textGallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.descTextGallery {
  max-width: 50%;
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.9;
  color: white;
  width: 40%;
}

.titleGallery {
  display: flex;
  align-items: center;
  gap: 10px;
}

.smallTitle {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.cardItem {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  height: 300px;
  border-radius: 12px;
  text-align: center;
  background: url("/assets/bg/bg-cat2.jpg") no-repeat center / cover;
}

.bottomText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px; /* jarak antara teks & garis */
  margin-top: 40px;
}

.ourText,
.galleryText {
  font-size: 62px;
  white-space: nowrap;
  color: white;
  letter-spacing: 2;
}

.lineBottomGallery {
  flex: 1; /* otomatis isi ruang kosong */
  height: 2px;
  background-color: white;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .whyChooseCardContainer {
    grid-template-columns: 1fr;
  }
}

/* ======= BRAND SECTION ======= */
.brandSection {
  padding: 20px;
  background: #fafafa;
  text-align: center;
}

.brandFlex {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
}

.brandItem {
  display: flex;
  align-items: center;
}
